attrs==22.1.0 ; python_version >= "3.9" and python_version < "3.10"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.10" and sys_platform == "win32"
exceptiongroup==1.0.0 ; python_version >= "3.9" and python_version < "3.10"
flake8==5.0.4 ; python_version >= "3.9" and python_version < "3.10"
iniconfig==1.1.1 ; python_version >= "3.9" and python_version < "3.10"
mccabe==0.7.0 ; python_version >= "3.9" and python_version < "3.10"
packaging==21.3 ; python_version >= "3.9" and python_version < "3.10"
pluggy==1.0.0 ; python_version >= "3.9" and python_version < "3.10"
pycodestyle==2.9.1 ; python_version >= "3.9" and python_version < "3.10"
pyflakes==2.5.0 ; python_version >= "3.9" and python_version < "3.10"
pyparsing==3.0.9 ; python_version >= "3.9" and python_version < "3.10"
pytest==7.2.0 ; python_version >= "3.9" and python_version < "3.10"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "3.10"
